$primary: #00695C;
$primary-dark: #004D40;
$primary-light: #B2DFDB;
$text-primary: #1C252E;
$text-secondary: #637381;
$text-disabled: #919EAB;
$background-neutral: #F4F6F8;
$error: #FFE9D5;
$error-dark: #7A0916;
