fastapi==0.115.6
uvicorn[standard]==0.32.1
gunicorn==23.0.0
python-dotenv==1.0.1
pydantic==2.10.3
pydantic_settings==2.7.0
email-validator==2.2.0
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
python-multipart==0.0.20
python-jose[cryptography]==3.3.0
bcrypt==4.0.1
passlib==1.7.4
redis==5.2.1
websockets==14.1
pytz==2024.2
apscheduler==3.10.4
qrcode[pil]==8.0
Pillow==11.0.0
requests==2.32.3
httpx==0.28.1
aiohttp==3.11.10
